In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('IT Main in October.csv')
df.head()

,Posted Date,Job Title,Main Skill 1,Main Skill 2,Main Skill 3,Company,Workplace,Address,Company Type,Company Industry,Company Size,Country,Working Days,Overtime Policy
0,2024-10-20 17:49:55.599354,Kỹ sư hệ thống (System Engineer / System Admin...,System Engineer,Linux,System Admin,Viettel Post (A Member of Viettel Group),At office,Ha Noi,IT Product,"Transportation, Logistics and Warehouse",1000+,Vietnam,Monday - Friday,NaN
1,2024-10-20 16:49:55.599354,Senior/Lead Java Engineer,Java,Spring,Cloud,NAB Innovation Centre Vietnam,Hybrid,Ho Chi Minh,IT Product,Banking,1000+,Australia,Monday - Friday,No OT
2,2024-10-20 16:49:55.599354,SAP Functional Consultant,SAP,System Engineer,English,FPT Software,At office,Ha Noi - Ho Chi Minh,IT Service and IT Consulting,IT Services and IT Consulting,1000+,Vietnam,Monday - Friday,Extra salary for OT
3,2024-10-20 15:49:55.599354,Senior Data Engineer,Data Analyst,SQL,Cloud,Creative Force,At office,Ha Noi,IT Product,Software Products and Web Services,51-150,Denmark,Monday - Friday,No OT
4,2024-10-20 13:49:55.599354,Devops/SRE engineer,Cloud,AWS,NaN,Castalk,At office,Ha Noi,IT Product,IT Services and IT Consulting,1-50,Vietnam,Monday - Friday,No OT

In [8]:
# Define keywords related to data science
data_science_keywords = ['Data Science', 'Machine Learning', 'AI', 'Artificial Intelligence', 
                         'Deep Learning', 'Data Analyst', 'Data Engineering', 'Big Data']

# Filter jobs where the main skills match the keywords and the country is Vietnam
filtered_jobs = df[
    (df['Country'] == 'Vietnam') &
    (
        df['Main Skill 1'].str.contains('|'.join(data_science_keywords), case=False, na=False) |
        df['Main Skill 2'].str.contains('|'.join(data_science_keywords), case=False, na=False) |
        df['Main Skill 3'].str.contains('|'.join(data_science_keywords), case=False, na=False)
    )
]

# Display the filtered results
print(filtered_jobs.shape)
filtered_jobs.head()

(31, 14)

,Posted Date,Job Title,Main Skill 1,Main Skill 2,Main Skill 3,Company,Workplace,Address,Company Type,Company Industry,Company Size,Country,Working Days,Overtime Policy
15,2024-10-19 20:49:55.599354,Senior Live Ops Manager (Data Analyst/ Games),Manager,Data Analyst,Games,Mirai Labs,At office,Ho Chi Minh - Ha Noi,IT Product,"AI, Blockchain and Deep Tech Services",51-150,Vietnam,Monday - Friday,Extra salary for OT
17,2024-10-19 20:49:55.599354,Product Owner,Product Owner,Data Analyst,Team Leader,VPBank,At office,Ha Noi,IT Product,Banking,1000+,Vietnam,Monday - Saturday,No OT
36,2024-10-18 20:49:55.599354,"Quản Lý Thông Tin Nhân Sự (SQL, Data Analyst, ...",SQL,Database,Data Analyst,Vietnam International Bank (VIB),At office,Ha Noi,IT Product,Banking,1000+,Vietnam,Monday - Friday,NaN
81,2024-10-18 20:49:55.599354,"Senior Officer, Business Itelligence",Data Analyst,Python,Agile,Techcombank,At office,Ha Noi,IT Product,Banking,1000+,Vietnam,Monday - Friday,No OT
113,2024-10-17 20:49:55.599354,Business Analyst - CRM,Business Analyst,Data Analyst,NaN,DNSE,At office,Ha Noi,IT Product,Financial Services,151-300,Vietnam,Monday - Friday,No OT

In [11]:
# Filter for jobs related to data science in Vietnam
# We'll check the job title and main skills for keywords like 'data', 'data science', 'data analyst', 'data engineer', etc.
data_science_keywords = ['data', 'data science', 'data analyst', 'data engineer', 'machine learning', 'AI', 'artificial intelligence', 'dữ liệu', 'phân tích dữ liệu', 'kỹ sư dữ liệu', 'học máy', 'trí tuệ nhân tạo', 'máy học']

# Filter the jobs where the job title or main skills contain any of the keywords, and the country is Vietnam
df_filtered = df[
    (df['Country'] == 'Vietnam') &
    (
        df['Job Title'].str.contains('|'.join(data_science_keywords), case=False, na=False) |
        df['Main Skill 1'].str.contains('|'.join(data_science_keywords), case=False, na=False) |
        df['Main Skill 2'].str.contains('|'.join(data_science_keywords), case=False, na=False) |
        df['Main Skill 3'].str.contains('|'.join(data_science_keywords), case=False, na=False)
    )
]

# Display the filtered jobs
print(df_filtered.shape)
df_filtered.head()

(98, 14)

,Posted Date,Job Title,Main Skill 1,Main Skill 2,Main Skill 3,Company,Workplace,Address,Company Type,Company Industry,Company Size,Country,Working Days,Overtime Policy
8,2024-10-20 09:49:55.599354,Chuyên viên triển khai phần mềm (ERP),ERP,Python,Java,Avenue,At office,Others,IT Service and IT Consulting,IT Services and IT Consulting,51-150,Vietnam,Monday - Friday,Extra salary for OT
15,2024-10-19 20:49:55.599354,Senior Live Ops Manager (Data Analyst/ Games),Manager,Data Analyst,Games,Mirai Labs,At office,Ho Chi Minh - Ha Noi,IT Product,"AI, Blockchain and Deep Tech Services",51-150,Vietnam,Monday - Friday,Extra salary for OT
17,2024-10-19 20:49:55.599354,Product Owner,Product Owner,Data Analyst,Team Leader,VPBank,At office,Ha Noi,IT Product,Banking,1000+,Vietnam,Monday - Saturday,No OT
32,2024-10-18 20:49:55.599354,"Data Engineer - Hybrid working (Oracle, P/L SQ...",Database,SQL,Oracle,SHBFinance,Hybrid,Ha Noi,IT Product,Financial Services,1000+,Vietnam,Monday - Friday,No OT
34,2024-10-18 20:49:55.599354,CV Kiểm toán nội bộ CNTT (IT Audit),Security,Database,SQL,VCBS,At office,Ha Noi,IT Product,Financial Services,301-500,Vietnam,Monday - Friday,Extra salary for OT

In [12]:
df_filtered.to_csv('IT Main in October_filtered.csv', index=False)